<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
    format: 'yyyy-mm-dd',
    autoclose: true
    })
    $('#count').append('Count is <%= @count%>')

  
  });
</script>

<center>
<%= form_tag admin_count_query_path, method: :get do %>
  <%= text_field_tag "from", "Start", class: 'datepicker'%>
  <%= text_field_tag "to", "End", class: 'datepicker'%><br><br>
  <%= submit_tag "Submit", id: "btn", class: "btn btn-default" %>
<% end %>
<br><br>

<p id="count"></p>
</center>


