<center><h2>Food Count Users</h2></center>
<div id="user_table" class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>User Name</th>
                  <th>Email Id</th>
                  <th>Role</th>
                  <th></th>
                  <th></th>
               
                </tr>
              </thead>
              <tbody>
              <% @all_users.each do |user|%>
                <tr>
                  <td><%= user.user_name %></td>
                  <td><%= user.email %></td>
                  <td>
                  <% if user.is_admin %>
                    Admin

                  <%else%>
                    User
                  <% end %>

                  </td>
                  <% if(current_user.id == user.id)%>
                  <td><%= link_to 'Destroy', admin_users_path, data: { confirm: 'You cant destroy your own account' } %></td>
                  <%else%>
                  <td><%= link_to 'Destroy',  user_path(user), method: :delete, data: { confirm: 'Do You Want to Delete the User?' } %></td>

                  <% end %>
                  <td><%= link_to 'Edit', edit_user_path(:id=>user.id) %></td>
                </tr>
              <% end %>
              </tbody>
        </table>
</div>
