<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @food_count.user_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @food_count.date %>
</p>

<p>
  <strong>Selection:</strong>
  <%= @food_count.selection %>
</p>

<%= link_to 'Edit', edit_food_count_path(@food_count) %> |
<%= link_to 'Back', food_counts_path %>
