#edit_form.border-form-div
  = form_for @user do |f|
    - if @user.errors.any?
      .error_explanation
        %h2
          = pluralize(@user.errors.count, "error")
          prohibited this user from being saved:
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg
    .field
      = f.label :email
      .controls
        = f.email_field :email
    .field
      = f.label :user_name
      .controls
        = f.text_field :user_name
    %div
      = label :is_admin, "Role of the User"
      %br/
      = label :is_admin, "Normal"
      = f.radio_button :is_admin, false , :checked => true , :value => false
    %div
      = label :is_admin, "Admin"
      = f.radio_button :is_admin, true, :value => true
    .actions
      = f.submit
