<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to "Lunch Count", :root, :class => "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <% if user_signed_in? %>
          <% if current_user.is_admin %>
            <li><%= link_to "My Calender",:home_dashboard %></li>
            <li><%= link_to "Users",:admin_users %></li>
            <li><%= link_to "Food Count", :admin_foodcount %></li>
          <% end %>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="navbar-text">Weclome <%= current_user.user_name %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Sign in Crypsis Account", user_omniauth_authorize_path(:google_oauth2) %></li>
        <% end %>
     </ul>
  </div>
</nav>